
@{
    ViewBag.Title = "FairUse";
}

<h2>Fair Use</h2>
<br />
<p>The posters we display for each film are subject to copyright, their use is covered by fair use laws because:</p>
<ul>
    <li>Our application is non-profit, therefore we do not gain anything from using them</li>
    <li>The resolution of the images is low, therefore they cannot replace the original posters</li>
    <li>There are no free-to-use alternatives on the internet, and what was available to use was nowhere near as representative for the film</li>
    <li>The image is used as the primary means of visual identification of the topic</li>
    <li> The use of the film poster illustration will not affect the value of the original work or limit the copyright holder's rights or ability to distribute the original</li>
</ul>

